.carousel__email {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1A1B22;
  margin: 0;
  margin-bottom: 2px;
}
