.header__title {
  font-family: 'robotoslab';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: white;
  margin: 30px 846px 26px 104px;
}
