.news-card__date {
  position: relative;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 20px 248px 0px 24px;
}
