.header__menu-list {
  margin: 30px 34px 23px 0;
}

.header__menu-list:last-child {
  margin: 30px 101px 26px 0;
}

/*
@media (max-width: 768px) {
  .header__menu-list {
    margin: 22px 34px 15px 0;
  }
  .header__menu-list:last-child {
    margin: 22px 42px 18px 0;
  }
}

@media (min-width: 320px) {
  .header__menu-list {
    margin: 16px 11px 16px 0;
  }
  .header__menu-list:last-child {
    margin: 16px 14px 16px 0;
  }
}
*/
