.header__link_dark-active {
  height: 100%;
  color: #1A1B22;
  border-bottom: 3px solid;
  padding-bottom: 25px;
}

.header__link_dark-active:hover {
  opacity: 0.6;
}


@media (max-width: 1200px) {
  .header__link_dark-active {
    padding-bottom: 30%;
  }
}

@media (max-width: 1100px) {
  .header__link_dark-active {
    padding-bottom: 24%;
  }
}

@media (max-width: 950px) {
  .header__link_dark-active {
    padding-bottom: 20%;
  }
}

@media (min-width: 431px) and (max-width: 767px) {
  .header__link_dark-active {
    padding-bottom: 20%;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  .header__link_dark-active {
    padding-bottom: 21%;
  }
}
