.analitic__table-score.analitic__table-score_seventh {
  padding-right: 31%;
}


@media (max-width: 768px) {
  .analitic__table-score.analitic__table-score_seventh {
    padding-right: 42%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .analitic__table-score.analitic__table-score_seventh {
    padding-right: 35%;
  }
}
